@(form: Form[views.formdata.UserSubmissionForm])
@import helper._

@main("Pet Submission") {  
	
 	
	<div class="container">
  		<div class="well">
			@form(action = routes.PetSubmissionController.upload(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
     			@fieldset(form)
    		}
  		</div>

  		@if(flash.containsKey("success")) {
  			<div class="well">
    			<div id="success-message" class="text-success">
      				@flash.get("success")
    			</div>
  			</div>
  		}
  		@if(flash.containsKey("error")) {
  			<div class="well">
    			<div id="error-message" class="text-danger">
      				@flash.get("error")
  				</div>
    		</div>
  		}
	</div>
	
	}
}
