@(form: Form[views.formdata.UserSubmissionForm])
@import helper._

@main("Pet Submission") {  
	<!--@form(action = routes.PetSubmissionController.upload(), 'enctype -> "multipart/form-data") { -->
 	
	<div class="container">
  		<div class="well">
			@form(action = routes.PetSubmissionController.upload(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
     			@fieldset(form)
    		}
  		</div>

  		@if(flash.containsKey("success")) {
  			<div class="well">
    			<div id="success-message" class="text-success">
      				@flash.get("success")
    			</div>
  			</div>
  		}
  		@if(flash.containsKey("error")) {
  			<div class="well">
    			<div id="error-message" class="text-danger">
      				@flash.get("error")
  				</div>
    		</div>
  		}
	</div>
	<!--	<div class="input-labels">Your Pet's Name</div>
		@helper.input(form("petname")) { (id, name, value, args) =>
    		<input type="text" name="@name" id="@id" placeholder-"Pet's Name" required=true @toHtmlArgs(args)>
		}

		<div class="input-labels">Your Pet's Species</div>
		@helper.input(form("pettype")) { (id, name, value, args) =>
    		<select name="@name" id="@id" required=true @toHtmlArgs(args)><option value="dog" @toHtmlArgs(args)>Dog</option><option value="cat" @toHtmlArgs(args)>Cat</option><option value="Other" @toHtmlArgs(args)>Other</option></select>
		}
		<br>

		<div class="input-labels">A hint for your pet's name (Optional)</div>
		@helper.input(form("hint")) { (id, name, value, args) =>
    		<input type="text" name="hint" placeholder="Name Hint" required=false @toHtmlArgs(args)>
		}

		<div class="input-labels">Email you would like to receive confirmation on if your pet is chosen.</div>
		@helper.input(form("email")) { (id, name, value, args) =>
    		<input type="email" name="email" placeholder="Email" required=false @toHtmlArgs(args)>
		}
		@helper.input(form("file")) { (id, name, value, args) =>
			<input type="file" name="picture" @toHtmlArgs(args)>
		}
    	<p>
			
			@helper.input(form("usageconsent")) { (id, name, value, args) =>
				<input type="checkbox" required=true @toHtmlArgs(args)> By checking this box you agree that your submission may be featured on the app “Guess That Pet” as well as its derivatives and may be visible to all users of the product.<br>
			}
			@helper.input(form("termsconsent")) { (id, name, value, args) =>
				<input type="checkbox" required=true @toHtmlArgs(args)> I've read and accept the <a href="/terms" target="_blank">Terms and Conditions</a>.<br>
			}
			@helper.input(form("ageconsent")) { (id, name, value, args) =>
				<input type="checkbox" required=true @toHtmlArgs(args)> I am at least 13 years of age.<br>			
			}
			@helper.input(form("receiveupdates")) { (id, name, value, args) =>
				<input type="checkbox" required=false @toHtmlArgs(args)> I would like to receive updates and announcements about GuessThatPet on my provided email.<br>			
			}
        	<input type="submit">
    	</p>    -->
	}
}
